__pycache__/
*.pyc
.venv/
.env

weights/
datasets/
results/
runs/

*.pt
*.pth
*.pkl
*.h5

*.log
*.csv

results/**/*.json
results/**/*.csv
results/**/*.png
results/**/*.pdf
results/**/*.gif
runs/**/*.json
runs/**/*.csv
runs/**/*.png
runs/**/*.pdf
runs/**/*.gif

modtrack.egg-info/
build/
dist/
run.sh
finetune.sh
out
errors 
